<app-input-box></app-input-box>
<div class="row p-2">
    <div class="col-md-3 p-2" *ngFor='let data of imageData'>
        <div class="card">
            <img class="card-img-top" src="{{data.urls.small}}" alt="{{data.alt_description}}">
            <div class="card-img-overlay text-center mt-4">
                <a class='card-text p-3' href='{{data.links.html}}'>Go To Author Page</a>
                <button (click)='setData(data)' type="button" data-toggle="modal" data-target="#modal" class="btn btn-success">Save to Favourites</button>
              </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Add to List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label for="listName">Enter List Name</label>
          <input id='listName' [(ngModel)]='listName' type="text" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)='addToFavourites()'>Add</button>
      </div>
    </div>
  </div>

</div>
